<!DOCTYPE html>
<html ng-app="about">
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--custom parameters-->
    <link type="text/css" rel="stylesheet" href="css/app.css" media="screen,projection"/>
    <!--Material Design Icons from Google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <!--angular-materialize for populating expandable/collapsibles -- what else can we do with it? find it on github-->
    <script type="text/javascript" src="js/angular-materialize.js"></script>
    <!--angular controllers and such-->
    <script type="text/javascript" src="js/app.js"></script>

    <title>Khaled Hassan</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="blue-grey lighten-1 z-depth-2" role="navigation">
            <div class="nav-wrapper container">
                <a class="brand-logo" href="#top">kjh</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#about">about</a></li>
                    <li><a href="#experience">experience</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#about">about</a></li>
                    <li><a href="#experience">experience</a></li>
                    <li><a href="#contact">contact</a></li>>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>


    <div class="parallax-container center parallax-400px scrollspy" id="top" ng-controller="TaglineController as tag">
        <div class="section no-pad-bot">
            <br/>
            <div class="row"><h1>Khaled Hassan</h1></div>
            <div class="row"><h5><em ng-bind="tag.getRandomTagline()"></em></h5></div>
            <div class="parallax"><img src="images/sfo.jpg"/></div>
        </div>
    </div>

    <div class="grey lighten-1 nav-target scrollspy" id="about">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <h3 class="center">about me</h3>
                    <p>
                        I'm 22 years old, studying Computer Engineering at the University of Florida &mdash;
                        <span class="orange-text text-darken-2">Go</span> <span class="blue-text text-darken-3">Gators!</span><br/><br/>
                        My focus so far has been on hardware, but I am fascinated by the boundary between hardware and software.
                        I would like to work on projects from concept generation to production; from schematic design to acceptance testing.
                    </p>

                </div>

                <div class="col s12 m4">
                    <h3 class="center">things I like</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend lacus orci, non scelerisque est vestibulum et. Sed tincidunt justo ac dolor egestas laoreet. In dignissim vitae arcu id ullamcorper. Morbi a velit lobortis, venenatis felis eu, feugiat ante. Pellentesque quis diam nec erat consequat ultricies id non diam. Sed bibendum ultricies mauris, at feugiat justo placerat viverra. Donec quis blandit erat. Vestibulum egestas pharetra metus in varius. Vestibulum sagittis eu dui vel laoreet. Aenean non arcu dui. Fusce nulla felis, imperdiet quis facilisis ac, porta eget leo. Donec ut sem neque. Suspendisse tincidunt suscipit magna, facilisis gravida nibh commodo id.</p>
                </div>

                <div class="col s12 m4">
                    <h3 class="center">mad skills</h3>
                    <p>Lorem ipsum</p>
                    <ul class=>
                        <li>dolor sit amet,</li>
                        <li>consectetur adipiscing elit.</li>
                        <li>Suspendisse eleifend lacus orci,</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container nav-target scrollspy" id="experience">
        <div class="row center no-pad-bot">
            <h3>experience</h3>
            <p>(click these!)</p>
        </div>

        <!--I'm using Angular to populate these; how cool is that?-->
        <div class="row">
            <div class="col s12">
                <ul class="tabs no-pad-top">
                    <li class="tab col s6"><a href="#work">work</a></li>
                    <li class="tab col s6"><a href="#play">play</a></li>
                </ul>
            </div>
            <div id="work" class="col s12" ng-controller="ExperienceController as expCtrl" watch>
                <ul class="collapsible" data-collapsible="accordion">
                    <li ng-repeat="job in expCtrl.jobs">
                        <div class="collapsible-header truncate">
                            {{ job.title }} <span ng-show="job.role">&mdash; {{ job.role }}</span>
                            <em class="right" ng-show="job.start">{{ job.start }} &ndash; <span ng-show="job.end">{{ job.end }}</span><span ng-hide="job.end">present</span></em>
                        </div>
                        <div class="collapsible-body">
                            <p class="job-body" ng-repeat="paragraph in job.body">{{ paragraph }}</p>
                            <p class="job-body" ng-show="job.link"><a ng-href="{{ job.link.url }}">{{ job.link.text }}</a></p>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="play" class="col s12" ng-controller="ProjectsController as projCtrl" watch>
                <ul class="collapsible" data-collapsible="accordion">
                    <li ng-repeat="proj in projCtrl.projects">
                        <div class="collapsible-header truncate">
                            {{ proj.title }}
                        </div>
                        <div class="collapsible-body">
                            <p class="job-body" ng-repeat="paragraph in proj.body">{{ paragraph }}</p>
                            <p class="job-body" ng-show="proj.link"><a ng-href="{{ proj.link.url }}">{{ proj.link.text }}</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <footer class="page-footer teal nav-target scrollspy" id="contact">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


</body>
</html>